Repository Kobby-Bawuah/codecov-test-repo: changes, and which Codecov flags are due for each by the changed paths.
All: django, dashboard

.codecov.yml:

comment:
  layout: "header, files, footer"
  hide_project_coverage: false

flags:
  django:
    paths:
      - apps/django
    carryforward: true
  dashboard:
    paths:
      - apps/dashboard
    carryforward: true

Adding baseline coverage reports
  dashboard-coverage.xml
  django-coverage.xml
Due: none

Testing Codecov PR comments and coverage comparison
  .coverage
  apps/dashboard/tests/test_dashboard.py
  apps/django/src/calculator.py
  apps/django/tests/test_views.py
  coverage.xml
Due: django, dashboard

Trigger Codecov comparison
  apps/django/src/calculator.py
Due: django

just creating a commit on main
  README.md
Due: none

just adding a minor test
  apps/dashboard/dashboard.py
  apps/dashboard/tests/test_dashboard.py
Due: dashboard

adding branches
  .github/workflows/ci.yml
Due: none

Remove old coverage files and add them to .gitignore
  .gitignore
  coverage.xml
  dashboard-coverage.xml
  django-coverage.xml
  junit.xml
Due: none

testing the users ignore command to correct it
  .codecov.yml
  .codecov.yml.recommended
  .coverage
  CODECOV_IGNORE_TEST_RESULTS.md
  EXECUTIVE_SUMMARY.md
  QUICK_REFERENCE.md
  START_HERE.md
  TESTING_README.md
  TEST_COMPARISON.md
  apps/dashboard/migrations/0001_initial.py
  apps/dashboard/migrations/__init__.py
  apps/dashboard/tests/test_dashboard_migrations.py
  apps/dashboard/tests/test_migrations.py
  apps/django/migrations/0001_initial.py
  apps/django/migrations/0002_add_users.py
  apps/django/migrations/__init__.py
  apps/django/tests/test_django_migrations.py
  apps/django/tests/test_migrations.py
  test_codecov_ignore.sh
Due: django, dashboard

Fix: Update Codecov ignore pattern to .*migrations.* (validated against real uploads)
  .codecov.yml
  .codecov.yml.recommended.v2
  FINAL_ANSWER.md
  REAL_UPLOAD_VALIDATION.md
  TEST_VALIDATION_SUMMARY.md
  verify_real_uploads.py
Due: none

Cleanup: Remove Test 3 (exact path testing) - not necessary
  CLEANUP_NOTES.md
  test_codecov_ignore.sh
Due: none

Test: Add glob pattern to see if Codecov transforms it
  .codecov.yml
Due: none

Test: Simpler glob pattern */migrations/*
  .codecov.yml
Due: none

Fix: Revert to working regex pattern .*migrations.*
  .codecov.yml
Due: none

Test: Change coverage collection to include app paths
  .codecov.yml
  .github/workflows/ci.yml
Due: none

Final: Use working regex pattern (Codecov glob transformation is broken)
  .codecov.yml
Due: none

Cleanup: Revert testing changes back to original setup
  .codecov.yml.recommended.v2
  CLEANUP_NOTES.md
  FINAL_ANSWER.md
  REAL_UPLOAD_VALIDATION.md
  TEST_VALIDATION_SUMMARY.md
  verify_real_uploads.py
Due: none
